In [1]:
import pandas as pd 
data =  pd.read_csv('SMSSpamCollection', sep = '\t', names = ['label', 'message'])
data.head()

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [2]:
text = data['message']
label = data['label']

In [3]:
#Number of Words
#x = lambda a : a + 10
#print(x(5))
data['word_count'] = data['message'].apply(lambda x: len(str(x).split(" ")))
data[['message','word_count']].head()

                                             message  word_count
0  Go until jurong point, crazy.. Available only ...          20
1                      Ok lar... Joking wif u oni...           6
2  Free entry in 2 a wkly comp to win FA Cup fina...          28
3  U dun say so early hor... U c already then say...          11
4  Nah I don't think he goes to usf, he lives aro...          13

In [4]:
#Number of characters
data['char_count'] = data['message'].str.len() # this also includes spaces
data[['message','char_count']].head()

                                             message  char_count
0  Go until jurong point, crazy.. Available only ...         111
1                      Ok lar... Joking wif u oni...          29
2  Free entry in 2 a wkly comp to win FA Cup fina...         155
3  U dun say so early hor... U c already then say...          49
4  Nah I don't think he goes to usf, he lives aro...          61

In [5]:
#Average Word Length
def avg_word(sentence):
  words = sentence.split()
  #print(words)
  return (sum(len(word) for word in words)/len(words))

data['avg_word'] = data['message'].apply(lambda x: avg_word(x))
data[['message','avg_word']].head()

                                             message  avg_word
0  Go until jurong point, crazy.. Available only ...  4.600000
1                      Ok lar... Joking wif u oni...  4.000000
2  Free entry in 2 a wkly comp to win FA Cup fina...  4.571429
3  U dun say so early hor... U c already then say...  3.545455
4  Nah I don't think he goes to usf, he lives aro...  3.769231

In [6]:
#Number of stopwords
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
stop = stopwords.words('english')

data['stopwords'] = data['message'].apply(lambda x: len([x for x in x.split() if x in stop]))
data[['message','stopwords']].head()

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\bansispc\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

                                             message  stopwords
0  Go until jurong point, crazy.. Available only ...          4
1                      Ok lar... Joking wif u oni...          0
2  Free entry in 2 a wkly comp to win FA Cup fina...          5
3  U dun say so early hor... U c already then say...          2
4  Nah I don't think he goes to usf, he lives aro...          5

In [7]:
#Number of special characters
data['hastags'] = data['message'].apply(lambda x: len([x for x in x.split() if x.startswith('#')]))
data[['message','hastags']].head()

                                             message  hastags
0  Go until jurong point, crazy.. Available only ...        0
1                      Ok lar... Joking wif u oni...        0
2  Free entry in 2 a wkly comp to win FA Cup fina...        0
3  U dun say so early hor... U c already then say...        0
4  Nah I don't think he goes to usf, he lives aro...        0

In [8]:
#Number of numerics
data['numerics'] = data['message'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
data[['message','numerics']].head()

                                             message  numerics
0  Go until jurong point, crazy.. Available only ...         0
1                      Ok lar... Joking wif u oni...         0
2  Free entry in 2 a wkly comp to win FA Cup fina...         2
3  U dun say so early hor... U c already then say...         0
4  Nah I don't think he goes to usf, he lives aro...         0

In [9]:
#Number of Uppercase words
data['upper'] = data['message'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
data[['message','upper']].head()

                                             message  upper
0  Go until jurong point, crazy.. Available only ...      0
1                      Ok lar... Joking wif u oni...      0
2  Free entry in 2 a wkly comp to win FA Cup fina...      2
3  U dun say so early hor... U c already then say...      2
4  Nah I don't think he goes to usf, he lives aro...      1

In [10]:
!pip install textblob
pos_family = {
    'noun' : ['NN','NNS','NNP','NNPS'],
    'pron' : ['PRP','PRP$','WP','WP$'],
    'verb' : ['VB','VBD','VBG','VBN','VBP','VBZ'],
    'adj' :  ['JJ','JJR','JJS'],
    'adv' : ['RB','RBR','RBS','WRB']
}

# function to check and get the part of speech tag count of a words in a given sentence
from textblob import TextBlob, Word, Blobber
import nltk
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
def check_pos_tag(x, flag):
    cnt = 0
    try:
        wiki = TextBlob(x)
        for tup in wiki.tags:
            ppo = list(tup)[1]
            if ppo in pos_family[flag]:
                cnt += 1
    except:
        pass
    return cnt

data['noun_count'] = data['message'].apply(lambda x: check_pos_tag(x, 'noun'))
data['verb_count'] = data['message'].apply(lambda x: check_pos_tag(x, 'verb'))
data['adj_count'] = data['message'].apply(lambda x: check_pos_tag(x, 'adj'))
data['adv_count'] = data['message'].apply(lambda x: check_pos_tag(x, 'adv'))
data['pron_count'] = data['message'].apply(lambda x: check_pos_tag(x, 'pron'))
data[['message','noun_count','verb_count','adj_count', 'adv_count', 'pron_count' ]].head()

Requirement already satisfied: textblob in c:\users\bansispc\anaconda3\envs\cntkpy36\lib\site-packages (0.15.3)
Requirement already satisfied: nltk>=3.1 in c:\users\bansispc\anaconda3\envs\cntkpy36\lib\site-packages (from textblob) (3.5)
Requirement already satisfied: tqdm in c:\users\bansispc\anaconda3\envs\cntkpy36\lib\site-packages (from nltk>=3.1->textblob) (4.48.2)
Requirement already satisfied: click in c:\users\bansispc\anaconda3\envs\cntkpy36\lib\site-packages (from nltk>=3.1->textblob) (7.1.2)
Requirement already satisfied: joblib in c:\users\bansispc\anaconda3\envs\cntkpy36\lib\site-packages (from nltk>=3.1->textblob) (0.16.0)
Requirement already satisfied: regex in c:\users\bansispc\anaconda3\envs\cntkpy36\lib\site-packages (from nltk>=3.1->textblob) (2020.7.14)

WARNING: You are using pip version 20.2.2; however, version 20.2.3 is available.
You should consider upgrading via the 'c:\users\bansispc\anaconda3\envs\cntkpy36\python.exe -m pip install --upgrade pip' command.
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\bansispc\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\bansispc\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

,message,noun_count,verb_count,adj_count,adv_count,pron_count
0,"Go until jurong point, crazy.. Available only ...",9,1,4,3,0
1,Ok lar... Joking wif u oni...,4,1,1,0,0
2,Free entry in 2 a wkly comp to win FA Cup fina...,14,3,4,0,0
3,U dun say so early hor... U c already then say...,3,3,2,3,0
4,"Nah I don't think he goes to usf, he lives aro...",1,5,0,3,3

In [11]:
data[['message','word_count','char_count','avg_word','stopwords','hastags','numerics','upper','noun_count','verb_count','adj_count', 'adv_count', 'pron_count','label' ]].head()

,message,word_count,char_count,avg_word,stopwords,hastags,numerics,upper,noun_count,verb_count,adj_count,adv_count,pron_count,label
0,"Go until jurong point, crazy.. Available only ...",20,111,4.600000,4,0,0,0,9,1,4,3,0,ham
1,Ok lar... Joking wif u oni...,6,29,4.000000,0,0,0,0,4,1,1,0,0,ham
2,Free entry in 2 a wkly comp to win FA Cup fina...,28,155,4.571429,5,0,2,2,14,3,4,0,0,spam
3,U dun say so early hor... U c already then say...,11,49,3.545455,2,0,0,2,3,3,2,3,0,ham
4,"Nah I don't think he goes to usf, he lives aro...",13,61,3.769231,5,0,0,1,1,5,0,3,3,ham

In [12]:
features = data[['word_count','char_count','avg_word','stopwords','hastags','numerics','upper','noun_count','verb_count','adj_count', 'adv_count', 'pron_count']]

In [17]:
import numpy as np
classes_list = ["ham","spam"]
label_index = data['label'].apply(classes_list.index)
label = np.asarray(label_index)

In [18]:
import numpy as np
features_array = np.asarray(features)

In [19]:
features_array.shape

(5572, 12)

In [20]:
# data split into train and text
import numpy as np
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features_array, label, test_size=0.33, random_state=42)

In [21]:

from sklearn.metrics import accuracy_score
from sklearn import metrics

from sklearn.svm import SVC
model_SVM = SVC()
model_SVM.fit(x_train, y_train)
y_pred_SVM = model_SVM.predict(x_test)
print("SVM")
print("Accuracy score =", accuracy_score(y_test, y_pred_SVM))
print(metrics.classification_report(y_test, y_pred_SVM))

from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=100,max_depth=None,min_samples_split=2, random_state=0)
rf.fit(x_train,y_train)
y_pred_rf = rf.predict(x_test)
print("random")
print("Accuracy score =", accuracy_score(y_test, y_pred_rf))
print(metrics.classification_report(y_test, y_pred_rf))

from sklearn.linear_model import LogisticRegression
LR = LogisticRegression()
LR.fit(x_train,y_train)
y_pred_LR = LR.predict(x_test)
print("Logistic Regression")
print("Accuracy score =", accuracy_score(y_test, y_pred_LR))
print(metrics.classification_report(y_test, y_pred_LR ))

from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors = 5)
neigh.fit(x_train,y_train)
y_pred_KNN = neigh.predict(x_test)
print("KNN")
print("Accuracy score =", accuracy_score(y_test, y_pred_KNN))
print(metrics.classification_report(y_test, y_pred_KNN ))

from sklearn.naive_bayes import GaussianNB
naive = GaussianNB()
naive.fit(x_train,y_train)
y_pred_naive = naive.predict(x_test)
print("Naive Bayes")
print("Accuracy score =", accuracy_score(y_test, y_pred_naive))
print(metrics.classification_report(y_test, y_pred_naive ))

from sklearn.ensemble import GradientBoostingClassifier
gradient = GradientBoostingClassifier(n_estimators=100,max_depth=None,min_samples_split=2, random_state=0)
gradient.fit(x_train,y_train)
y_pred_gradient = gradient.predict(x_test)
print("Gradient Boosting")
print("Accuracy score =", accuracy_score(y_test, y_pred_gradient))
print(metrics.classification_report(y_test, y_pred_gradient ))

    
from sklearn.tree import DecisionTreeClassifier
decision = DecisionTreeClassifier()
decision.fit(x_train,y_train)
y_pred_decision = decision.predict(x_test)
print("Decision Tree")
print("Accuracy score =", accuracy_score(y_test, y_pred_decision))
print(metrics.classification_report(y_test, y_pred_decision ))

SVM
Accuracy score = 0.9336595976073954
              precision    recall  f1-score   support

           0       0.95      0.98      0.96      1593
           1       0.83      0.63      0.72       246

    accuracy                           0.93      1839
   macro avg       0.89      0.81      0.84      1839
weighted avg       0.93      0.93      0.93      1839

random
Accuracy score = 0.9662860250135944
              precision    recall  f1-score   support

           0       0.97      0.99      0.98      1593
           1       0.95      0.79      0.86       246

    accuracy                           0.97      1839
   macro avg       0.96      0.89      0.92      1839
weighted avg       0.97      0.97      0.97      1839

C:\Users\bansispc\Anaconda3\envs\cntkpy36\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

Logistic Regression
Accuracy score = 0.9412724306688418
              precision    recall  f1-score   support

           0       0.95      0.98      0.97      1593
           1       0.84      0.69      0.76       246

    accuracy                           0.94      1839
   macro avg       0.90      0.83      0.86      1839
weighted avg       0.94      0.94      0.94      1839

KNN
Accuracy score = 0.9401848830886351
              precision    recall  f1-score   support

           0       0.96      0.98      0.97      1593
           1       0.82      0.71      0.76       246

    accuracy                           0.94      1839
   macro avg       0.89      0.84      0.86      1839
weighted avg       0.94      0.94      0.94      1839

Naive Bayes
Accuracy score = 0.9325720500271887
              precision    recall  f1-score   support

           0       0.97      0.95      0.96      1593
           1       0.72      0.80      0.76       246

    accuracy                           0.93      1839
   macro avg       0.85      0.88      0.86      1839
weighted avg       0.94      0.93      0.93      1839

Gradient Boosting
Accuracy score = 0.9510603588907015
              precision    recall  f1-score   support

           0       0.97      0.97      0.97      1593
           1       0.81      0.83      0.82       246

    accuracy                           0.95      1839
   macro avg       0.89      0.90      0.90      1839
weighted avg       0.95      0.95      0.95      1839

Decision Tree
Accuracy score = 0.9461663947797716
              precision    recall  f1-score   support

           0       0.97      0.96      0.97      1593
           1       0.78      0.83      0.80       246

    accuracy                           0.95      1839
   macro avg       0.88      0.90      0.89      1839
weighted avg       0.95      0.95      0.95      1839

In [22]:
# data split into train and text
import numpy as np
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features_array, label, test_size=0.33, random_state=42)

In [23]:
x_train.shape

(3733, 12)

In [25]:
data = pd.read_csv('SMSSpamCollection', sep = '\t', names = ['label','message'])

In [26]:
text = data['message']
class_label = data['label']

In [27]:
import numpy as np
classes_list = ["ham","spam"]
label_index = class_label.apply(classes_list.index)
label = np.asarray(label_index)

In [28]:
import numpy as np
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(text, label, test_size=0.33, random_state=42)

In [29]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(ngram_range = (1,1))
x_train = vectorizer.fit_transform(X_train)
x_test = vectorizer.transform(X_test)

In [30]:
x_train.shape

(3733, 7082)

In [32]:
vectorizer.get_feature_names()

['00',
 '000',
 '000pes',
 '0089',
 '0121',
 '01223585236',
 '01223585334',
 '02',
 '0207',
 '02072069400',
 '02073162414',
 '02085076972',
 '021',
 '03',
 '04',
 '0430',
 '05',
 '050703',
 '0578',
 '06',
 '07',
 '07008009200',
 '07046744435',
 '07090298926',
 '07099833605',
 '07123456789',
 '0721072',
 '07732584351',
 '07734396839',
 '07753741225',
 '0776xxxxxxx',
 '07781482378',
 '07786200117',
 '077xxx',
 '07801543489',
 '07808247860',
 '07815296484',
 '07821230901',
 '07880867867',
 '07946746291',
 '0796xxxxxx',
 '07973788240',
 '07xxxxxxxxx',
 '08',
 '0800',
 '08000407165',
 '08000776320',
 '08000839402',
 '08000930705',
 '08000938767',
 '08001950382',
 '08002888812',
 '08002986030',
 '08002986906',
 '08002988890',
 '08006344447',
 '0808',
 '08081263000',
 '08081560665',
 '0825',
 '083',
 '0844',
 '08448350055',
 '08448714184',
 '0845',
 '08450542832',
 '08452810071',
 '08452810073',
 '08452810075over18',
 '0870',
 '08700435505150p',
 '08700621170150p',
 '08701213186',
 '08701237397',
 '08701417012',
 '08701417012150p',
 '0870141701216',
 '0870241182716',
 '08702490080',
 '08702840625',
 '08704050406',
 '08704439680',
 '08704439680ts',
 '08706091795',
 '0870737910216yrs',
 '08707509020',
 '08707808226',
 '08708034412',
 '08708800282',
 '08709222922',
 '08709501522',
 '0871',
 '087104711148',
 '08712101358',
 '0871212025016',
 '08712300220',
 '087123002209am',
 '08712317606',
 '08712400602450p',
 '08712400603',
 '08712402050',
 '08712402578',
 '08712402779',
 '08712402902',
 '08712402972',
 '08712405020',
 '08712405022',
 '08712460324',
 '0871277810710p',
 '0871277810810',
 '0871277810910p',
 '08714342399',
 '087147123779am',
 '08714712379',
 '08714712388',
 '08714712394',
 '08714712412',
 '08715203028',
 '08715203649',
 '08715203656',
 '08715203677',
 '08715203694',
 '08715205273',
 '08715500022',
 '08715705022',
 '08717111821',
 '0871750',
 '08717507382',
 '08717509990',
 '08717895698',
 '08717898035',
 '08718711108',
 '08718720201',
 '08718723815',
 '08718726270',
 '087187262701',
 '08718726970',
 '08718726978',
 '08718727870',
 '08718730666',
 '08718738001',
 '08718738002',
 '08718738034',
 '08719181259',
 '08719181503',
 '08719181513',
 '08719839835',
 '08719899229',
 '08719899230',
 '09',
 '09041940223',
 '09050000301',
 '09050000332',
 '09050000555',
 '09050000878',
 '09050001295',
 '09050001808',
 '09050003091',
 '09050090044',
 '09056242159',
 '09057039994',
 '09058091854',
 '09058091870',
 '09058094455',
 '09058094507',
 '09058094565',
 '09058094583',
 '09058094594',
 '09058094597',
 '09058095107',
 '09058095201',
 '09058097189',
 '09058097218',
 '09058098002',
 '09058099801',
 '09061104276',
 '09061104283',
 '09061209465',
 '09061213237',
 '09061221061',
 '09061221066',
 '09061701444',
 '09061743386',
 '09061743806',
 '09061743810',
 '09061744553',
 '09061749602',
 '09061790121',
 '09061790125',
 '09061790126',
 '09063440451',
 '09063442151',
 '09063458130',
 '0906346330',
 '09064011000',
 '09064012160',
 '09064017295',
 '09064017305',
 '09064018838',
 '09064019014',
 '09065069154',
 '09065171142',
 '09065174042',
 '09065989180',
 '09065989182',
 '09066350750',
 '09066358152',
 '09066362206',
 '09066362220',
 '09066362231',
 '09066364311',
 '09066364349',
 '09066364589',
 '09066368470',
 '09066382422',
 '09066612661',
 '09066649731from',
 '09066660100',
 '09071512433',
 '09077818151',
 '09090204448',
 '09094646631',
 '09094646899',
 '09095350301',
 '09096102316',
 '09099725823',
 '09099726395',
 '09099726429',
 '09099726481',
 '09701213186',
 '0a',
 '10',
 '100',
 '1000',
 '1000s',
 '100p',
 '100percent',
 '100txt',
 '1030',
 '10am',
 '10k',
 '10p',
 '10ppm',
 '10th',
 '11',
 '1120',
 '113',
 '114',
 '1146',
 '116',
 '1172',
 '118p',
 '11mths',
 '11pm',
 '12',
 '1205',
 '120p',
 '121',
 '125',
 '1250',
 '125gift',
 '128',
 '12hrs',
 '12mths',
 '13',
 '130',
 '1327',
 '139',
 '14',
 '140',
 '1405',
 '145',
 '146tf150p',
 '14tcr',
 '14thmarch',
 '15',
 '150',
 '1500',
 '150p',
 '150p16',
 '150pm',
 '150ppermesssubscription',
 '150ppm',
 '150ppmsg',
 '153',
 '15541',
 '16',
 '165',
 '1680',
 '169',
 '177',
 '18',
 '180',
 '1843',
 '18p',
 '18yrs',
 '195',
 '1956669',
 '1apple',
 '1b6a5ecef91ff9',
 '1cup',
 '1da',
 '1hr',
 '1im',
 '1lemon',
 '1mega',
 '1million',
 '1st',
 '1st4terms',
 '1stchoice',
 '1thing',
 '1tulsi',
 '1win150ppmx3',
 '1winaweek',
 '1winawk',
 '1x150p',
 '1yf',
 '20',
 '200',
 '2000',
 '2003',
 '2004',
 '2005',
 '2007',
 '2025050',
 '20m12aq',
 '20p',
 '21',
 '21870000',
 '21st',
 '22',
 '220',
 '220cm2',
 '2309',
 '23f',
 '23g',
 '24',
 '24hrs',
 '24m',
 '24th',
 '25',
 '250',
 '250k',
 '255',
 '25p',
 '26',
 '2667',
 '26th',
 '28',
 '28days',
 '28th',
 '29',
 '2b',
 '2c',
 '2channel',
 '2day',
 '2docd',
 '2end',
 '2ez',
 '2find',
 '2geva',
 '2go',
 '2gthr',
 '2hook',
 '2hrs',
 '2i',
 '2lands',
 '2marrow',
 '2moro',
 '2morow',
 '2morro',
 '2morrow',
 '2morrowxxxx',
 '2mro',
 '2mrw',
 '2mwen',
 '2nd',
 '2nite',
 '2optout',
 '2p',
 '2price',
 '2rcv',
 '2stop',
 '2stoptx',
 '2stoptxt',
 '2u',
 '2waxsto',
 '2wt',
 '2wu',
 '2yr',
 '2yrs',
 '30',
 '300',
 '3000',
 '300603',
 '300p',
 '3030',
 '30apr',
 '30ish',
 '30pm',
 '30pp',
 '30s',
 '31',
 '3100',
 '31p',
 '32',
 '32000',
 '3230',
 '326',
 '33',
 '330',
 '350',
 '3510i',
 '3650',
 '36504',
 '3680',
 '373',
 '3750',
 '37819',
 '38',
 '382',
 '391784',
 '3aj',
 '3d',
 '3g',
 '3gbp',
 '3hrs',
 '3lions',
 '3lp',
 '3miles',
 '3mins',
 '3mobile',
 '3optical',
 '3pound',
 '3qxj9',
 '3rd',
 '3ss',
 '3uz',
 '3xx',
 '40',
 '400',
 '400mins',
 '4041',
 '40411',
 '40533',
 '40gb',
 '41685',
 '41782',
 '42049',
 '4217',
 '42478',
 '430',
 '434',
 '44',
 '440',
 '4403ldnw1a7rw18',
 '447801259231',
 '449050000301',
 '449071512431',
 '45',
 '450',
 '450ppw',
 '45pm',
 '47',
 '4719',
 '4742',
 '47per',
 '48',
 '4882',
 '48922',
 '49',
 '4a',
 '4brekkie',
 '4d',
 '4eva',
 '4fil',
 '4get',
 '4give',
 '4goten',
 '4info',
 '4jx',
 '4mths',
 '4my',
 '4qf2',
 '4t',
 '4th',
 '4txt',
 '4u',
 '4ward',
 '4wrd',
 '4years',
 '50',
 '500',
 '5000',
 '505060',
 '50gbp',
 '50p',
 '50perweeksub',
 '50perwksub',
 '50pm',
 '50ppm',
 '50rcvd',
 '50s',
 '515',
 '523',
 '5249',
 '526',
 '528',
 '530',
 '54',
 '542',
 '5digital',
 '5free',
 '5ish',
 '5k',
 '5min',
 '5mls',
 '5p',
 '5pm',
 '5th',
 '5wb',
 '5we',
 '5wkg',
 '600',
 '6031',
 '6089',
 '60p',
 '61',
 '61200',
 '61610',
 '6230',
 '62468',
 '62735',
 '630',
 '65',
 '650',
 '66',
 '6669',
 '674',
 '67441233',
 '68866',
 '69101',
 '69696',
 '69698',
 '69866',
 '69876',
 '69888',
 '69888nyt',
 '69911',
 '6days',
 '6hl',
 '6hrs',
 '6ish',
 '6missed',
 '6months',
 '6ph',
 '6pm',
 '6th',
 '6times',
 '6wu',
 '6zf',
 '700',
 '71',
 '7250',
 '7250i',
 '730',
 '75',
 '750',
 '7548',
 '75max',
 '762',
 '77',
 '7732584351',
 '78',
 '786',
 '7876150ppm',
 '79',
 '7am',
 '7ish',
 '7oz',
 '7pm',
 '7th',
 '80',
 '800',
 '8000930705',
 '80062',
 '8007',
 '80082',
 '80122300p',
 '80155',
 '80182',
 '80488',
 '80608',
 '80878',
 '81010',
 '81151',
 '81303',
 '81618',
 '82050',
 '820554ad0a1705572711',
 '82242',
 '82277',
 '83021',
 '83039',
 '83049',
 '83118',
 '83222',
 '83332',
 '83338',
 '83355',
 '83370',
 '83383',
 '83435',
 '83600',
 '83738',
 '84025',
 '84122',
 '84128',
 '84199',
 '84484',
 '85',
 '850',
 '85023',
 '85069',
 '85233',
 '8552',
 '85555',
 '86021',
 '861',
 '864233',
 '86688',
 '86888',
 '87021',
 '87066',
 '87070',
 '87077',
 '87121',
 '87131',
 '872',
 '87239',
 '87575',
 '88039',
 '88066',
 '88088',
 '88222',
 '88600',
 '88800',
 '8883',
 '88877',
 '88888',
 '89034',
 '89070',
 '89080',
 '89105',
 '89123',
 '89545',
 '89555',
 '89693',
 '8am',
 '8ball',
 '8lb',
 '8p',
 '8pm',
 '8th',
 '8wp',
 '900',
 '9061100010',
 '910',
 '9280114',
 '92h',
 '9307622',
 '945',
 '946',
 '95',
 '9755',
 '98321561',
 '99',
 '9996',
 '9ae',
 '9am',
 '9ja',
 '9pm',
 '9t',
 '9th',
 '____',
 'a21',
 'a30',
 'aah',
 'aaniye',
 'aaooooright',
 'aathi',
 'abbey',
 'abi',
 'ability',
 'abiola',
 'abj',
 'able',
 'abnormally',
 'about',
 'aboutas',
 'above',
 'abroad',
 'absence',
 'absolutly',
 'abt',
 'abta',
 'aburo',
 'abuse',
 'abusers',
 'ac',
 'academic',
 'acc',
 'accent',
 'accept',
 'access',
 'accessible',
 'accidant',
 'accident',
 'accidentally',
 'accommodation',
 'accommodationvouchers',
 'accomodations',
 'accordingly',
 'account',
 'accounts',
 'accumulation',
 'achan',
 'ache',
 'acid',
 'acl03530150pm',
 'acnt',
 'aco',
 'across',
 'act',
 'acted',
 'acting',
 'action',
 'activ8',
 'activate',
 'active',
 'activities',
 'actor',
 'actual',
 'actually',
 'ad',
 'adam',
 'add',
 'addamsfa',
 'added',
 'addicted',
 'addie',
 'adding',
 'address',
 'adewale',
 'adjustable',
 'admin',
 'administrator',
 'admirer',
 'admission',
 'adore',
 'adoring',
 'adress',
 'adrian',
 'ads',
 'adsense',
 'adult',
 'adults',
 'advance',
 'adventure',
 'adventuring',
 'advice',
 'advise',
 'advising',
 'afew',
 'affairs',
 'affection',
 'affectionate',
 'afford',
 'afghanistan',
 'afraid',
 'africa',
 'aft',
 'after',
 'afternon',
 'afternoon',
 'aftr',
 'ag',
 'again',
 'against',
 'agalla',
 'age',
 'age16',
 'age23',
 'agent',
 'ages',
 'agidhane',
 'ago',
 'agree',
 'ah',
 'aha',
 'ahead',
 'ahhhh',
 'ahmad',
 'ahold',
 'aid',
 'aids',
 'aight',
 'ain',
 'aint',
 'air',
 'airport',
 'airtel',
 'aiya',
 'aiyah',
 'aiyar',
 'aiyo',
 'ajith',
 'aka',
 'akon',
 'al',
 'alaikkum',
 'albi',
 'album',
 'alcohol',
 'alert',
 'alerts',
 'alex',
 'alfie',
 'algorithms',
 'ali',
 'alian',
 'alibi',
 'alive',
 'all',
 'allah',
 'allalo',
 'allday',
 'alle',
 'allo',
 'allow',
 'allowed',
 'allows',
 'almost',
 'alone',
 'along',
 'alot',
 'already',
 'alright',
 'alrite',
 'also',
 'although',
 'aluable',
 'always',
 'alwys',
 'am',
 'amanda',
 'amazing',
 'ambitious',
 'ambrith',
 'american',
 'ami',
 'amigos',
 'amma',
 'ammae',
 'amnow',
 'among',
 'amongst',
 'amore',
 'amount',
 'amp',
 'amrca',
 'amrita',
 'ams',
 'amt',
 'amy',
 'an',
 'ana',
 'analysis',
 'and',
 'anderson',
 'andre',
 'andrews',
 'angry',
 'animal',
 'animation',
 'anjola',
 'annie',
 'anniversary',
 'annoncement',
 'announced',
 'announcement',
 'annoyin',
 'anonymous',
 'anot',
 'another',
 'ans',
 'ansr',
 'answer',
 'answered',
 'answerin',
 'answering',
 'answers',
 'answr',
 'antelope',
 'antha',
 'anthony',
 'anti',
 'any',
 'anybody',
 'anyhow',
 'anymore',
 'anyone',
 'anyones',
 'anyplaces',
 'anythiing',
 'anythin',
 'anything',
 'anythingtomorrow',
 'anytime',
 'anyway',
 'anyways',
 'anywhere',
 'apart',
 'apartment',
 'apes',
 'apeshit',
 'apo',
 'apologise',
 'apology',
 'app',
 'apparently',
 'appeal',
 'appear',
 'applausestore',
 'applebees',
 'application',
 'apply',
 'applyed',
 'applying',
 'appointment',
 'appointments',
 'appreciate',
 'appreciated',
 'approve',
 'approved',
 'approx',
 'apps',
 'appt',
 'appy',
 'april',
 'aproach',
 'aquarius',
 'ar',
 'arab',
 'arabian',
 'arcade',
 'ard',
 'are',
 'area',
 'aren',
 'arestaurant',
 'aretaking',
 'argentina',
 'argh',
 'argue',
 'argument',
 'arises',
 'arm',
 'armand',
 'arms',
 'arng',
 'arngd',
 'arnt',
 'around',
 'arrange',
 'arranging',
 'arrested',
 'arrival',
 'arrive',
 'arsenal',
 'art',
 'artists',
 'arts',
 'arty',
 'arul',
 'arun',
 'as',
 'asa',
 'asap',
 'asda',
 'ashley',
 'ashwini',
 'asian',
 'asjesus',
 'ask',
 'askd',
 'asked',
 'askin',
 'asking',
 'asks',
 ...]

In [33]:
from sklearn.metrics import accuracy_score
from sklearn import metrics

from sklearn.svm import SVC
model_SVM = SVC()
model_SVM.fit(x_train, y_train)
y_pred_SVM = model_SVM.predict(x_test)
print("SVM")
print("Accuracy score =", accuracy_score(y_test, y_pred_SVM))
print(metrics.classification_report(y_test, y_pred_SVM))

from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=100,max_depth=None,min_samples_split=2, random_state=0)
rf.fit(x_train,y_train)
y_pred_rf = rf.predict(x_test)
print("random")
print("Accuracy score =", accuracy_score(y_test, y_pred_rf))
print(metrics.classification_report(y_test, y_pred_rf))

from sklearn.linear_model import LogisticRegression
LR = LogisticRegression()
LR.fit(x_train,y_train)
y_pred_LR = LR.predict(x_test)
print("Logistic Regression")
print("Accuracy score =", accuracy_score(y_test, y_pred_LR))
print(metrics.classification_report(y_test, y_pred_LR ))

from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors = 5)
neigh.fit(x_train,y_train)
y_pred_KNN = neigh.predict(x_test)
print("KNN")
print("Accuracy score =", accuracy_score(y_test, y_pred_KNN))
print(metrics.classification_report(y_test, y_pred_KNN ))

from sklearn.naive_bayes import GaussianNB
naive = GaussianNB()
naive.fit(x_train.toarray(),y_train)
y_pred_naive = naive.predict(x_test.toarray())
print("Naive Bayes")
print("Accuracy score =", accuracy_score(y_test, y_pred_naive))
print(metrics.classification_report(y_test, y_pred_naive ))

from sklearn.ensemble import GradientBoostingClassifier
gradient = GradientBoostingClassifier(n_estimators=100,max_depth=None,min_samples_split=2, random_state=0)
gradient.fit(x_train,y_train)
y_pred_gradient = gradient.predict(x_test)
print("Gradient Boosting")
print("Accuracy score =", accuracy_score(y_test, y_pred_gradient))
print(metrics.classification_report(y_test, y_pred_gradient ))

    
from sklearn.tree import DecisionTreeClassifier
decision = DecisionTreeClassifier()
decision.fit(x_train,y_train)
y_pred_decision = decision.predict(x_test)
print("Decision Tree")
print("Accuracy score =", accuracy_score(y_test, y_pred_decision))
print(metrics.classification_report(y_test, y_pred_decision ))

SVM
Accuracy score = 0.9869494290375204
              precision    recall  f1-score   support

           0       0.99      1.00      0.99      1593
           1       1.00      0.90      0.95       246

    accuracy                           0.99      1839
   macro avg       0.99      0.95      0.97      1839
weighted avg       0.99      0.99      0.99      1839

random
Accuracy score = 0.9804241435562806
              precision    recall  f1-score   support

           0       0.98      1.00      0.99      1593
           1       1.00      0.85      0.92       246

    accuracy                           0.98      1839
   macro avg       0.99      0.93      0.95      1839
weighted avg       0.98      0.98      0.98      1839

Logistic Regression
Accuracy score = 0.9717237629146275
              precision    recall  f1-score   support

           0       0.97      1.00      0.98      1593
           1       0.99      0.80      0.88       246

    accuracy                           0.97      1839
   macro avg       0.98      0.90      0.93      1839
weighted avg       0.97      0.97      0.97      1839

KNN
Accuracy score = 0.9037520391517129
              precision    recall  f1-score   support

           0       0.90      1.00      0.95      1593
           1       1.00      0.28      0.44       246

    accuracy                           0.90      1839
   macro avg       0.95      0.64      0.69      1839
weighted avg       0.91      0.90      0.88      1839

Naive Bayes
Accuracy score = 0.9059271343121261
              precision    recall  f1-score   support

           0       0.98      0.91      0.94      1593
           1       0.60      0.91      0.72       246

    accuracy                           0.91      1839
   macro avg       0.79      0.91      0.83      1839
weighted avg       0.93      0.91      0.91      1839

Gradient Boosting
Accuracy score = 0.9684611201740077
              precision    recall  f1-score   support

           0       0.98      0.99      0.98      1593
           1       0.91      0.85      0.88       246

    accuracy                           0.97      1839
   macro avg       0.94      0.92      0.93      1839
weighted avg       0.97      0.97      0.97      1839

Decision Tree
Accuracy score = 0.965742251223491
              precision    recall  f1-score   support

           0       0.98      0.99      0.98      1593
           1       0.90      0.84      0.87       246

    accuracy                           0.97      1839
   macro avg       0.94      0.91      0.92      1839
weighted avg       0.97      0.97      0.97      1839