In [2]:
import pandas as pd
df=pd.read_csv('profile_data.csv')
df['comments']

0     [{'text': ['üôè', 'üá∫üá∏', ' Peace to all politics'...
1                                                    []
2                                                    []
3                                                    []
4                                                    []
5                                                    []
6                                                    []
7     [{'text': ['It was hilarious. He represents th...
8     [{'text': ['Yes I do, but at the expense of ma...
9     [{'text': ['Please keep seeking God‚Äôs will for...
10    [{'text': ['Good this destruction is costing m...
11    [{'text': ["How can the media get away with su...
12    [{'text': ['Thankful for you getting the news ...
13    [{'text': ['Is this the same Fox News that you...
14    [{'text': ["Please sir bring in the national g...
15    [{'text': ['PRESIDENT YOUR AWESOME.No one else...
16                                                   []
17                                                   []
18                                                   []
19                                                   []
20    [{'text': ['Thank you for spending your late y...
21                                                   []
22                                                   []
23                                                   []
24    [{'text': ['How well has it helped you?', " Sh...
Name: comments, dtype: object

In [3]:
comments=df['comments'].str.split(',').reset_index()
comments.head(20)

    index                                           comments
0       0  [[{'text': ['üôè',  'üá∫üá∏',  ' Peace to all politi...
1       1                                               [[]]
2       2                                               [[]]
3       3                                               [[]]
4       4                                               [[]]
5       5                                               [[]]
6       6                                               [[]]
7       7  [[{'text': ['It was hilarious. He represents t...
8       8  [[{'text': ['Yes I do,  but at the expense of ...
9       9  [[{'text': ['Please keep seeking God‚Äôs will fo...
10     10  [[{'text': ['Good this destruction is costing ...
11     11  [[{'text': ["How can the media get away with s...
12     12  [[{'text': ['Thankful for you getting the news...
13     13  [[{'text': ['Is this the same Fox News that yo...
14     14  [[{'text': ["Please sir bring in the national ...
15     15  [[{'text': ['PRESIDENT YOUR AWESOME.No one els...
16     16                                               [[]]
17     17                                               [[]]
18     18                                               [[]]
19     19                                               [[]]

In [4]:
comments.dropna()

    index                                           comments
0       0  [[{'text': ['üôè',  'üá∫üá∏',  ' Peace to all politi...
1       1                                               [[]]
2       2                                               [[]]
3       3                                               [[]]
4       4                                               [[]]
5       5                                               [[]]
6       6                                               [[]]
7       7  [[{'text': ['It was hilarious. He represents t...
8       8  [[{'text': ['Yes I do,  but at the expense of ...
9       9  [[{'text': ['Please keep seeking God‚Äôs will fo...
10     10  [[{'text': ['Good this destruction is costing ...
11     11  [[{'text': ["How can the media get away with s...
12     12  [[{'text': ['Thankful for you getting the news...
13     13  [[{'text': ['Is this the same Fox News that yo...
14     14  [[{'text': ["Please sir bring in the national ...
15     15  [[{'text': ['PRESIDENT YOUR AWESOME.No one els...
16     16                                               [[]]
17     17                                               [[]]
18     18                                               [[]]
19     19                                               [[]]
20     20  [[{'text': ['Thank you for spending your late ...
21     21                                               [[]]
22     22                                               [[]]
23     23                                               [[]]
24     24  [[{'text': ['How well has it helped you?',  " ...

In [5]:
list2=comments['comments'][9]
print(list2)

["[{'text': ['Please keep seeking God‚Äôs will for our nation and we will pray for you for safety", " wisdom and opportunities to bring the nation together and calm back to our cities.']", " 'profile_name': 'Mary Ann Vanstrum'", " 'profile_url': '/mary.vanstrum'}", " {'text': ['It all comes to ur pocketbook when you vote ...2020 thank you for bringing our economy  back ...8 years of nothing hurts us ...']", " 'profile_name': 'Miriam Meilak'", " 'profile_url': '/miriam.meilak'}", ' {\'text\': ["It\'s not record growth when in reality it was just people going back to work that had been laid off. These weren\'t new jobs being created."]', " 'profile_name': 'Ryan Davies'", " 'profile_url': '/ryan.davies.12327'}", ' {\'text\': ["Who\'s working? Our economy will be at a standstill again in fall and you\'ve done nothing.. won\'t even wear a damn mask.. "]', " 'profile_name': 'JoAnne Gallop'", " 'profile_url': '/joa.gallop.3'}", " {'text': ['They want to keep the sheep in fear by keeping businesses closed so the economy doesnt skyrocket any more than it already has']", " 'profile_name': 'Julie Adams'", " 'profile_url': '/julie.adams.543'}", " {'text': ['The fact that Democrats would rather let a person with alzheimers be their champion than Bernie (anti-communist'", " ') shows all there is to be known about where their true loyalties lie.']", " 'profile_name': 'David Lim'", " 'profile_url': '/DavidLim.RE'}", " {'text': ['We only had a record growth because of an extreme low. I‚Äôm not proud when thousands of people are still dying", " and you don‚Äôt seem to care.']", " 'profile_name': 'Rose Jordan'", " 'profile_url': '/Rororose1998'}", " {'text': ['We will", " because you will be running out country for the next 4 years.']", " 'profile_name': 'Susan Gambini'", " 'profile_url': '/susan.gambini'}", ' {\'text\': ["I have it on High Authority that there\'s No such thing as the Democratic Party Anymore!"]', " 'profile_name': 'Allen Ehrlich'", " 'profile_url': '/allen.ehrlich.3'}", " {'text': ['Haha. So is he taking credit for people going back to work after his in action has caused the worst outbreak since 1900? I can‚Äôt wait for corporate America to start paying their fair share instead of the wallets of the middle class. ']", " 'profile_name': 'Drew Robert'", " 'profile_url': '/DrewFenstra'}", " {'text': ['Paycheck protection is up. Companies are retaliating the people taking fmla and terminating them for it. Unemployment rates will rocket. Happened to me. Everyone that took leave was let go.']", " 'profile_name': 'Chris Holt'", " 'profile_url': '/chris.holt.37'}", " {'text': ['What are you talking about", ' what growth?  The economy is contracting', " going negative. The only growth is the number of lies Trump tells. ']", " 'profile_name': 'Dan Yates'", " 'profile_url': '/dan.yates.33'}", " {'text': ['45 million people without jobs from a crisis cause by Trump‚Äôs incompetence. SAD. ']", " 'profile_name': 'Michael Pearson'", " 'profile_url': '/michael.pearson.5836'}", " {'text': ['Still not worried about our soldiers wake up please you‚Äôre more worried about the economy than our soldiers.']", " 'profile_name': 'Arthur Lagasse'", " 'profile_url': '/arthur.lagasse.7'}", " {'text': ['Can we discuss the trillions lost under your presidency... even my toddler admits fault more than a grown man...']", " 'profile_name': 'Amanda Douglas Grant'", " 'profile_url': '/amanda.d.grant'}", ' {\'text\': ["You have a lot of catching up to do. After Obama\'s first term the stock market rose 71%. You have 7 months to go', ' and the stock market has only increased 30%."]', " 'profile_name': 'Timothy Mueller'", " 'profile_url': '/timothy.mueller.18'}", " {'text': ['MAKE AMERICA GREAT AGAIN!']", " 'profile_name': 'Ahmed Mohammed Nagi'", " 'profile_url': '/profile.php'}", " {'text': ['2021", ' there is no where but', " up after you are gone.']", " 'profile_name': 'Janette St Charles'", " 'profile_url': '/janettestcharles'}", " {'text': ['When everything is closed and then it reopens it stands to reason. No great accomplishment.'", " ' ']", " 'profile_name': 'Tim Cottingim'", " 'profile_url': '/tim.cottingim.5'}", " {'text': ['You should put up bill boards with these boys of information. People unfortunately need it right where they can see it every day.']", " 'profile_name': 'Francine Nosse'", " 'profile_url': '/francine.nosse.5'}]"]

In [91]:
list3=list2[0:-1:10]
list4=list3[0:3]
list4

["[{'text': ['Please keep seeking God‚Äôs will for our nation and we will pray for you for safety",
 ' {\'text\': ["Who\'s working? Our economy will be at a standstill again in fall and you\'ve done nothing.. won\'t even wear a damn mask.. "]',
 " {'text': ['We only had a record growth because of an extreme low. I‚Äôm not proud when thousands of people are still dying"]

In [92]:
from pandas import DataFrame
df2=DataFrame(list4,columns=['comments'])
df2.head(3)

                                            comments
0  [{'text': ['Please keep seeking God‚Äôs will for...
1   {'text': ["Who's working? Our economy will be...
2   {'text': ['We only had a record growth becaus...

In [93]:
#number of words
df2['word_count']=df2['comments'].apply(lambda x: len(str(x).split(" ")))
df2[['comments','word_count']].head(3)

                                            comments  word_count
0  [{'text': ['Please keep seeking God‚Äôs will for...          17
1   {'text': ["Who's working? Our economy will be...          25
2   {'text': ['We only had a record growth becaus...          23

In [94]:
#character count
df2['char_count']=df2['comments'].str.len()
df2[['comments','char_count']].head()

                                            comments  char_count
0  [{'text': ['Please keep seeking God‚Äôs will for...          93
1   {'text': ["Who's working? Our economy will be...         135
2   {'text': ['We only had a record growth becaus...         121

In [95]:
#average word length
def avg_word(sentence):
  words = sentence.split()
  print(words)
  print(len(words))
  print(sum(len(word) for word in words))
  return (sum(len(word) for word in words)/len(words))

df2['avg_word'] = df2['comments'].apply(lambda x: avg_word(x))
df2[['comments','avg_word']].head(3)

["[{'text':", "['Please", 'keep', 'seeking', 'God‚Äôs', 'will', 'for', 'our', 'nation', 'and', 'we', 'will', 'pray', 'for', 'you', 'for', 'safety']
17
77
["{'text':", '["Who\'s', 'working?', 'Our', 'economy', 'will', 'be', 'at', 'a', 'standstill', 'again', 'in', 'fall', 'and', "you've", 'done', 'nothing..', "won't", 'even', 'wear', 'a', 'damn', 'mask..', '"]']
24
111
["{'text':", "['We", 'only', 'had', 'a', 'record', 'growth', 'because', 'of', 'an', 'extreme', 'low.', 'I‚Äôm', 'not', 'proud', 'when', 'thousands', 'of', 'people', 'are', 'still', 'dying']
22
99

                                            comments  avg_word
0  [{'text': ['Please keep seeking God‚Äôs will for...  4.529412
1   {'text': ["Who's working? Our economy will be...  4.625000
2   {'text': ['We only had a record growth becaus...  4.500000

In [96]:
#Number of stopwords
import nltk
from nltk.corpus import stopwords
stop = stopwords.words('english')

df2['stopwords'] = df2['comments'].apply(lambda x: len([x for x in x.split() if x in stop]))
df2[['comments','stopwords']].head(3)

                                            comments  stopwords
0  [{'text': ['Please keep seeking God‚Äôs will for...          9
1   {'text': ["Who's working? Our economy will be...         10
2   {'text': ['We only had a record growth becaus...         10

In [100]:
#Number of special characters
df2['hastags'] = df2['comments'].apply(lambda x: len([x for x in x.split() if x.startswith('#')]))
df2[['comments','hastags']].head()

                                            comments  hastags
0  [{'text': ['Please keep seeking God‚Äôs will for...        0
1   {'text': ["Who's working? Our economy will be...        0
2   {'text': ['We only had a record growth becaus...        0

In [101]:
#Number of numerics
df2['numerics'] = df2['comments'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
df2[['comments','numerics']].head()

                                            comments  numerics
0  [{'text': ['Please keep seeking God‚Äôs will for...         0
1   {'text': ["Who's working? Our economy will be...         0
2   {'text': ['We only had a record growth becaus...         0

In [102]:
#Number of Uppercase words
df2['upper'] = df2['comments'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
df2[['comments','upper']].head()

                                            comments  upper
0  [{'text': ['Please keep seeking God‚Äôs will for...      0
1   {'text': ["Who's working? Our economy will be...      0
2   {'text': ['We only had a record growth becaus...      0

In [111]:
pos_family = {
    'noun' : ['NN','NNS','NNP','NNPS'],
    'pron' : ['PRP','PRP$','WP','WP$'],
    'verb' : ['VB','VBD','VBG','VBN','VBP','VBZ'],
    'adj' :  ['JJ','JJR','JJS'],
    'adv' : ['RB','RBR','RBS','WRB']
}

from textblob import TextBlob, Word, Blobber
import nltk
#nltk.download('punkt')
#nltk.download('averaged_perceptron_tagger')
def check_pos_tag(x, flag):
    cnt = 0
    try:
        wiki = TextBlob(x)
        for tup in wiki.tags:
            ppo = list(tup)[1]
            if ppo in pos_family[flag]:
                cnt += 1
                print(ppo, tup)
    except:
        pass
    return cnt

df2['noun_count'] = df2['comments'].apply(lambda x: check_pos_tag(x, 'noun'))
df2['verb_count'] = df2['comments'].apply(lambda x: check_pos_tag(x, 'verb'))
df2['adj_count'] = df2['comments'].apply(lambda x: check_pos_tag(x, 'adj'))
df2['adv_count'] = df2['comments'].apply(lambda x: check_pos_tag(x, 'adv'))
df2['pron_count'] = df2['comments'].apply(lambda x: check_pos_tag(x, 'pron'))
df2[['comments','noun_count','verb_count','adj_count', 'adv_count', 'pron_count' ]].head()

NN ('[', 'NN')
NNP ('God', 'NNP')
NNP ('‚Äô', 'NNP')
NN ('s', 'NN')
NN ('nation', 'NN')
NN ('safety', 'NN')
NN ('[', 'NN')
NN ('economy', 'NN')
NN ('standstill', 'NN')
NN ('fall', 'NN')
NN ('nothing', 'NN')
NN ('..', 'NN')
NN ('damn', 'NN')
NN ('mask', 'NN')
NN (']', 'NN')
NN ('[', 'NN')
NN ('record', 'NN')
NN ('growth', 'NN')
NN ('low', 'NN')
NNS ('thousands', 'NNS')
NNS ('people', 'NNS')
VB ('keep', 'VB')
VBG ('seeking', 'VBG')
VB ('pray', 'VB')
VBZ ("'s", 'VBZ')
VBG ('working', 'VBG')
VB ('be', 'VB')
VBP ("'ve", 'VBP')
VBN ('done', 'VBN')
VB ('wear', 'VB')
VBZ ("'We", 'VBZ')
VBD ('had', 'VBD')
VBP ('‚Äô', 'VBP')
VBP ('are', 'VBP')
VBG ('dying', 'VBG')
JJ ("'text", 'JJ')
JJ ('extreme', 'JJ')
JJ ('proud', 'JJ')
RB ('[', 'RB')
RB ('again', 'RB')
RB ("n't", 'RB')
RB ('even', 'RB')
RB ('only', 'RB')
RB ('m', 'RB')
RB ('not', 'RB')
WRB ('when', 'WRB')
RB ('still', 'RB')
PRP$ ('our', 'PRP$')
PRP ('we', 'PRP')
PRP ('you', 'PRP')
WP ('Who', 'WP')
PRP$ ('Our', 'PRP$')
PRP ('you', 'PRP')
PRP ('I', 'PRP')

,comments,noun_count,verb_count,adj_count,adv_count,pron_count
0,[{'text': ['Please keep seeking God‚Äôs will for...,6,3,1,1,3
1,"{'text': [""Who's working? Our economy will be...",9,6,0,3,3
2,{'text': ['We only had a record growth becaus...,6,5,2,5,1

In [112]:
df2.head()

,comments,word_count,char_count,avg_word,stopwords,comma,hastags,numerics,upper,noun_count,verb_count,adj_count,adv_count,pron_count
0,[{'text': ['Please keep seeking God‚Äôs will for...,17,93,4.529412,9,17,0,0,0,6,3,1,1,3
1,"{'text': [""Who's working? Our economy will be...",25,135,4.625000,10,24,0,0,0,9,6,0,3,3
2,{'text': ['We only had a record growth becaus...,23,121,4.500000,10,22,0,0,0,6,5,2,5,1

In [113]:

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [114]:
cv=CountVectorizer()
list4_vec = cv.fit_transform(list4)
print(list4_vec.toarray())

[[0 0 1 0 0 0 0 0 0 0 0 0 0 0 3 1 0 0 0 1 0 0 1 0 0 0 0 1 0 1 1 0 0 1 1 0
  0 1 0 0 1 0 0 0 2 0 0 1]
 [1 0 1 0 1 1 0 1 1 0 1 1 0 1 0 0 0 0 1 0 0 1 0 0 1 0 0 1 0 0 0 0 0 0 0 1
  0 1 0 1 0 1 0 1 1 1 1 1]
 [0 1 0 1 0 0 1 0 0 1 0 0 1 0 0 0 1 1 0 0 1 0 0 1 0 2 1 0 1 0 0 1 1 0 0 0
  1 1 1 0 1 0 1 0 0 0 0 0]]

In [115]:
tv=TfidfVectorizer()
t_vec = tv.fit_transform(list4)
print(t_vec.toarray())

[[0.         0.         0.16605515 0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.65502772 0.21834257 0.         0.
  0.         0.21834257 0.         0.         0.21834257 0.
  0.         0.         0.         0.16605515 0.         0.21834257
  0.21834257 0.         0.         0.21834257 0.21834257 0.
  0.         0.12895664 0.         0.         0.16605515 0.
  0.         0.         0.33211031 0.         0.         0.16605515]
 [0.22551813 0.         0.17151235 0.         0.22551813 0.22551813
  0.         0.22551813 0.22551813 0.         0.22551813 0.22551813
  0.         0.22551813 0.         0.         0.         0.
  0.22551813 0.         0.         0.22551813 0.         0.
  0.22551813 0.         0.         0.17151235 0.         0.
  0.         0.         0.         0.         0.         0.22551813
  0.         0.13319464 0.         0.22551813 0.         0.22551813
  0.         0.22551813 0.17151235 0.22551813 0.22551813 0.17151235]
 [0.         0.21859698 0.         0.21859698 0.         0.
  0.21859698 0.         0.         0.21859698 0.         0.
  0.21859698 0.         0.         0.         0.21859698 0.21859698
  0.         0.         0.21859698 0.         0.         0.21859698
  0.         0.43719396 0.21859698 0.         0.21859698 0.
  0.         0.21859698 0.21859698 0.         0.         0.
  0.21859698 0.1291069  0.21859698 0.         0.16624864 0.
  0.21859698 0.         0.         0.         0.         0.        ]]

In [116]:
feature_names = tv.get_feature_names()

dense = t_vec.todense()
denselist = dense.tolist()
df3 = pd.DataFrame(denselist, columns=feature_names)

In [117]:
feature_names

['again',
 'an',
 'and',
 'are',
 'at',
 'be',
 'because',
 'damn',
 'done',
 'dying',
 'economy',
 'even',
 'extreme',
 'fall',
 'for',
 'god',
 'growth',
 'had',
 'in',
 'keep',
 'low',
 'mask',
 'nation',
 'not',
 'nothing',
 'of',
 'only',
 'our',
 'people',
 'please',
 'pray',
 'proud',
 'record',
 'safety',
 'seeking',
 'standstill',
 'still',
 'text',
 'thousands',
 've',
 'we',
 'wear',
 'when',
 'who',
 'will',
 'won',
 'working',
 'you']

In [118]:
df4 =pd.concat([df3,df2], axis=1)
df4.head()

,again,an,and,are,at,be,because,damn,done,dying,...,stopwords,comma,hastags,numerics,upper,noun_count,verb_count,adj_count,adv_count,pron_count
0,0.000000,0.000000,0.166055,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,9,17,0,0,0,6,3,1,1,3
1,0.225518,0.000000,0.171512,0.000000,0.225518,0.225518,0.000000,0.225518,0.225518,0.000000,...,10,24,0,0,0,9,6,0,3,3
2,0.000000,0.218597,0.000000,0.218597,0.000000,0.000000,0.218597,0.000000,0.000000,0.218597,...,10,22,0,0,0,6,5,2,5,1